<div class="main">
  <header>
    <h1 class="headerLogo">AgendaCAP</h1>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              routerLink="/contatos"
              >Contatos</a
            >
          </li>
          <li class="nav-item">
            <a
              style="margin-left: 30px"
              class="nav-link"
              routerLinkActive="active"
              routerLink="/addclient"
              >Novo contato</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">
    <h4 class="footer-item">Desenvolvimento WEB {{ data }}</h4>
  </footer>
</div>
